.table{
    border: 1px solid grey;
    width: 80%;
}

.cells{
    border: 1px solid grey;
}

.padding{
    padding-left: 15%;
    padding-top: 3%;
}

.title{
    font-size: 30pt;
    font-family: "Sitka Display", serif;
    color: #696969;
}