.elms {
    width: 50%;
    display: inline-block;
}

.dislike {
    width: 20%;
    margin-left: 20%;
    float: left;
    border-radius: 10%;
    background-color: white;
    font-family: fantasy;
    color: gray;
    font-size: medium;
    border-color: brown;
}

.text {
    font-family: fantasy;
    color: gray;
    font-size: medium;
    float: left;
    margin-left: 23%;
    text-align: center;
}

.like {
    width: 20%;
    float: left;
    border-radius: 10%;
    background-color: white;
    font-family: fantasy;
    color: gray;
    font-size: medium;
    border-color: brown;
}

.selectedLike {
    width: 20%;
    float: left;
    border-radius: 10%;
    background-color: chocolate;
    font-family: fantasy;
    color: gray;
    font-size: medium;
    border-color: brown;
}

.selectedDislike {
    width: 20%;
    margin-left: 20%;
    float: left;
    border-radius: 10%;
    background-color: chocolate;
    font-family: fantasy;
    color: gray;
    font-size: medium;
    border-color: brown;
}

.like:disabled {
    border-color: lightgray;
}

.dislike:disabled {
    border-color: lightgray;
}