.mainForm{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 30pt;
    font-family: "Sitka Display", serif;
    color: #696969;
}
.unique{
    text-align: center;
    font-size: 20px;
    font-family: "Sitka Display", serif;
    color: black;
}
.input{
    padding-top: 6px;
    border-radius: 10%;
    background-color: white;
    font-family: "Sitka Display", serif;
    color: gray;
    font-size: medium;
}
.margin{
   background: url("/src/assets/fon1.jpg") no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 5px;
        width: 100%;
}