.button {
    border-radius: 10%;
    background-color: white;
    font-family: "Sitka Display", serif;
    color: gray;
    font-size: large;
}

.selectedButton {
    border-radius: 10%;
    background-color: chocolate;
    font-family: "Sitka Display", serif;
    color: white;
    font-size: large;
}

.font {
    float: left;
    padding-right: 1%;
    font-family: "Sitka Display", serif;
    font-weight: lighter;
    color: black;
    text-align: center;
    font-size: large;
}

.links {
    margin-right: 20%;
    float: right;
}

.fontLink{
    float: left;
    font-family: "Sitka Display", serif;
    color: black;
    text-align: right;
    border-radius: 10%;
    background-color: white;
    font-size: medium;
}

.selectedFontLink, .selectedFontLink:disabled{
    float: left;
    font-family: "Sitka Display", serif;
    font-size: medium;
    color: white;
    text-align: right;
    border-radius: 10%;
    background-color: chocolate;
}

.photos {
    text-align: center;
}

.category {
    padding-top: 1%;
    padding-left: 10%;
    width: 100%;
    display: inline-block;
}

.photo {
    padding-right: 2%;
}