.mainForm{
    text-align: center;
}
.check{
    background: url("/src/assets/reload.png") no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;  
    padding-top: 6px;  
}
.title{
    text-align: center;
    font-size: 30pt;
    font-family: "Sitka Display", serif;
    color: #696969;
}
.step{
    text-align: center;
    font-size: 20pt;
    font-family: "Sitka Display", serif;
    color: #696969;
}
.unique{
    text-align: center;
    font-size: 20px;
    font-family: "Sitka Display", serif;
    color: black;
}
.cursive{
    text-align: center;
    font-size: 18px;
    font-family: "Sitka Display", serif;
    color: black;
    font-style: italic;
}
.button{
    border-radius: 10%;
    background-color: white;
    font-family: fantasy;
    color: gray;
    font-size: medium;
    border-color: brown;
}
.input{
    padding-top: 6px;
    border-radius: 10%;
    background-color: white;
    font-family: "Sitka Display", serif;
    color: gray;
    font-size: medium;
}
.margin{
   background: url("/src/assets/fon1.jpg") no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 5px;
        width: 100%;
}







