@media screen and (max-width: 2000px) and (min-width: 800px) {
    .table {
        margin-top: 2%;
        padding-left: 3%;
    }

    .cell {
        background: #ffffff;
        max-width: 30%;
        height: 45vh;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
    }

    .row {
        width: 100%;
        height: 40%;
        margin-bottom: 2%;
        display: inline-block;
    }

    .image {
        float: inherit;
        width: 100%;
        height: 65%;
    }
}
@media screen and (max-width: 800px) {
    .row {
        width: 100%;
        height: 40%;
        margin-bottom: 2%;
        display: inline-block;
    }
    .table {
        margin-top: 2%;
        padding-left: 3%;
    }

    .cell {
        background: #ffffff;
        width: 100%;
        height: 100%;
        margin-left: 1%;
        margin-right: 3%;
        margin-top: 1%;
        text-align: center;
    }

    .image {
        float: inherit;
        width: 100%;
        height: 80%;
    }
}